@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Poppins', sans-serif;
}

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --bg-color: #343d4b;
  --bg-color-card: #222831;
  --spinner-background: #dbdcef;
  --text-white: #ffffff;
}

.App {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  background: var(--bg-color);
  padding: 5% 0;
}

header {
  color: var(--text-white);
}

@media (max-width: 880px) {
  .App {
    padding: 10% 0;
  }

  .form-weather input {
    width: 83vw;
  }

  .card .section-details {
    display: grid;
    justify-content: center;
    gap: 1rem;
  }

  .card article:last-child section {
    display: grid;
    grid-template-columns: repeat(3, 30%);
  }

  .card article:last-child figure {
    justify-content: center;
  }
}